{% extends 'base.html' %}

{% block content %}

<h1>All Finches</h1>

{% if finches %}
  <div class="row">
    {% for finch in finches %}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/finch.jpeg">
          </div>
          <div class="card-content">
            <h4> {{ finch.species }}</h4>
          </div>
          <div class="card-action">
            <a href="{% url 'finch_detail' finch.id %}">View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No finches found.</p>
{% endif %}

{% endblock %}
