{% extends 'base.html' %}

{% block content %}
    <h1>Toys</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for toy in toys %}
                <tr>
                    <td>{{ toy.name }}</td>
                    <td>{{ toy.color }}</td>
                    <td>{{ toy.size }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No toys found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'toy_create' %}" class="btn btn-primary mb-3">Add Toy</a>
{% endblock %}
