body {
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    color: rgb(255, 255, 255);
    padding-top: 0;
    text-align: right;
}